<div [className]="mbtitwoClass">
  <button class="mbtitwo-back" (click)="backToPreviews()">back</button>
  <div class="mbtitwo__center">
    <p class="mbtitwo__center-header">
      INFJ phase two (adulthood)
    </p>
    <div class="mbtitwo__center__model">
      <p>
        focus: INTROVERSION vs EXTROVERSION | focus: FEELING vs THINKING
      </p>
    </div>

    <div class="mbtitwo__center__desc">
      <p>
        EXTROVERTED FEELING is highly concerned with maintaining social norms
        and keeping the peace. It is a decision-making function that strives to
        do what is best for the group and picks up naturally on the emotions of
        others. It is a mirroring function that may cause the user to have
        trouble deciphering their own feelings without the input of others.
        Extroverted feeling requires social interaction to stay fulfilled, more
        so than any other function.
      </p>
      <p>
        INTROVERTED THINKING is an information-gathering function that seeks to
        form a framework for how the world works on a concrete, tangible level.
        It is adept at understanding systems and naturally notices
        inconsistencies within them. Introverted thinking seeks a thorough
        understanding of how things work – it wants to deconstruct things to
        look at the individual parts and see how things function as a whole.
      </p>
    </div>
  </div>
</div>
