<div [className]="previewClass">
  <div class="preview__left" [ngSwitch]="page">
    <p class="preview__left-name">{{ firstName }} {{ lastName }}</p>
    <p class="preview__left-ennealine" *ngSwitchCase="1">
      enneagram {{ enneagram }} core<br />growth: {{ int }}<br />stress:
      {{ disint }}
    </p>
    <p class="preview__left-enneatri" *ngSwitchCase="2">
      relationship with <br />
      heart, mind, gut<br />4, 6, 1
    </p>
    <p class="preview__left-mbtione" *ngSwitchCase="3">
      myers briggs<br />INFJ <br />phase 1
    </p>
    <p class="preview__left-mbtitwo" *ngSwitchCase="4">
      myers briggs<br />INFJ <br />phase 2
    </p>
    <p class="preview__left-mbtiblind" *ngSwitchCase="5">
      myers briggs<br />INFJ <br />blindspots
    </p>
  </div>
  <div class="preview__right" [ngSwitch]="page">
    <div
      class="preview__right-ennealine"
      *ngSwitchCase="1"
      (click)="ennealine()"
    >
      <p>{{ disint }}</p>
      <span class="preview__right-ennealine-line"></span>
      <p>{{ enneagram }}</p>
      <span class="preview__right-ennealine-line"></span>
      <p>{{ int }}</p>
    </div>
    <div class="preview__right-enneatri" *ngSwitchCase="2" (click)="enneatri()">
      <p class="preview__right-enneatri-heart">4</p>
      <p class="preview__right-enneatri-mind">6</p>
      <p class="preview__right-enneatri-gut">1</p>
    </div>
    <div class="preview__right-mbtione" *ngSwitchCase="3" (click)="mbtione()">
      <p>established:<br />INTROVERTED</p>
      <p>exploring:</p>
      <p>INTUITION vs SENSING</p>
    </div>
    <div class="preview__right-mbtitwo" *ngSwitchCase="4" (click)="mbtitwo()">
      <p>exploring:</p>
      <p>FEELING vs THINKING</p>
      <p>exploring:</p>
      <p>
        EXTRAVERSION vs INTROVERSION
      </p>
    </div>
    <div
      class="preview__right-mbtiblind"
      *ngSwitchCase="5"
      (click)="mbtiblind()"
    >
      <p>blind/neglect spot 1:</p>
      <p>INTROVERTED FEELING</p>
      <p>blind/neglect spot 2:</p>
      <p>EXTRAVERTED THINKING</p>
    </div>
  </div>
  <div class="preview__nav">
    <input type="radio" name="radio" id="1" (click)="switchPages(1)" />
    <label for="1"></label>
    <input type="radio" name="radio" id="2" (click)="switchPages(2)" />
    <label for="2"></label>
    <input type="radio" name="radio" id="3" (click)="switchPages(3)" />
    <label for="3"></label>
    <input type="radio" name="radio" id="4" (click)="switchPages(4)" />
    <label for="4"></label>
    <input type="radio" name="radio" id="5" (click)="switchPages(5)" />
    <label for="5"></label>
  </div>
</div>
