<div class="definition">
  <div class="definition__left">
    <img src="../../../assets/tree.jpg" />
  </div>
  <div class="definition__right">
    <p class="definition__right-title">ataraxia</p>
    <p class="definition__right-pronounce">/at-uh-<b>rak</b>-see-uh/</p>
    <p class="definition__right-definition">
      the lack of agitation that comes from understanding the ways of the
      universe, accepting fate, knowing what one can control and, therefore
      focusing only on the things one can actually change.
    </p>
  </div>
</div>
