<div class="prompts">
  <div class="mbtiprompt">
    <p class="title">what is your <b>Myers-Briggs</b> Personality Type?</p>
    <div class="letters">
      <p class="letters-item">E</p>
      <p class="letters-item">S</p>
      <p class="letters-item">T</p>
      <p class="letters-item">J</p>
    </div>
  </div>
  <div class="enneaprompt">
    <p class="title">what is your <b>Enneagram</b> Personality Type?</p>
    <div class="letters ennea">
      <p class="letters-item">1</p>
      <p class="letters-item">2</p>
      <p class="letters-item">3</p>
      <p class="letters-item">4</p>
      <p class="letters-item">5</p>
      <p class="letters-item">6</p>
      <p class="letters-item">7</p>
      <p class="letters-item">8</p>
      <p class="letters-item">9</p>
    </div>
  </div>
  <button class="next">next</button>
</div>
