<div [className]="mbtioneClass">
  <button class="mbtione-back" (click)="backToPreviews()">back</button>
  <div class="mbtione__center">
    <p class="mbtione__center-header">
      INFJ phase one (pre-adulthood)
    </p>
    <div class="mbtione__center__model">
      <p>focus: INTROVERTED | focus: INTUITION vs SENSATION</p>
    </div>

    <div class="mbtione__center__desc">
      <p>
        INTROVERTED INTUITON forms a framework of how the world works based on
        thorough, abstract analysis of past and current events. It aims to
        identify the ‘essence’ of ideas, theories, people and situations in
        order to fit them into a larger schema. Introverted intuition is a
        forward thinking function that seeks to identify the optimal or most
        likely outcome of future events.
      </p>
      <p>
        EXTROVERTED SENSING is focused on taking in the world as it exists in
        the present moment. It is highly in tune with the sights, smells, sounds
        and general physical stimulus that surrounds it. Extroverted sensing
        lives and thrives in the moment, more so than any other function.
      </p>
    </div>
  </div>
</div>
