<div [className]="ennealineClass">
  <button class="ennealine-back" (click)="backToPreviews()">back</button>
  <div class="ennealine__center">
    <p class="ennealine__center-header">
      enneagram {{ enneagram }} linear progression
    </p>
    <div class="ennealine__center__model">
      <p>{{ disint }}</p>
      <span class="ennealine__center__model-line"></span>
      <p>{{ enneagram }}</p>
      <span class="ennealine__center__model-line"></span>
      <p>{{ int }}</p>
    </div>
    <div class="ennealine__center__desc">
      <p>
        When 4 goes to 2, the 4 denies personal needs & overaccommodate,
        becoming overly dependent on someone to save them, while at the same
        time, becomes resentful of the rescuing other. The 4 feels needy and
        becomes manipulative to garner love/attention. Tries to win others over,
        and becomes more possessive of partner.
      </p>
      <p>
        When 4 goes to 1, the 4 cultivates leftbrained objectivity. There is
        sustained focus on something outside of themselves. More downtoearth,
        practical, disciplined & structured. Channels creativity/emotionality to
        something concrete. Has a heightened ability at healing and creative
        arts
      </p>
    </div>
  </div>
</div>
