<div [className]="enneatriClass">
  <button class="enneatri-back" (click)="backToPreviews()">back</button>
  <div class="enneatri__center">
    <p class="enneatri__center-header">
      1-4-6 tritype: The Philosopher Archetype
    </p>
    <div class="enneatri__center__model">
      <p class="enneatri__center__model-gut">{{ gut }}</p>
      <p class="enneatri__center__model-heart">{{ heart }}</p>
      <p class="enneatri__center__model-mind">{{ head }}</p>
    </div>
    <div class="enneatri__center__desc">
      <p>
        Triple critical of self and others, full of self-doubt, desire to get it
        right, strong emotional intuition, duty, allegiance, doing things that
        are free of blame, trying to be safe, always testing.
      </p>
      <p>
        Your life mission is to find truth and help others understand what has
        intrinsic value. A true philosopher, you are happiest when you can use
        your intuition to help others find meaning.
      </p>
    </div>
  </div>
</div>
