<div [className]="mbtiblindClass">
  <button class="mbtiblind-back" (click)="backToPreviews()">back</button>
  <div class="mbtiblind__center">
    <p class="mbtiblind__center-header">
      INFJ neglect (adulthood)
    </p>
    <div class="mbtiblind__center__model">
      <p>
        focus: INTROVERSION vs EXTROVERSION | focus: FEELING vs THINKING
      </p>
    </div>

    <div class="mbtiblind__center__desc">
      <p>
        INTROVERTED FEELING is the in-depth analysis of emotional processes and
        morality. It seeks to break down emotions to their core and understand
        them as wholly as possible. It also develops a strong internal system of
        right and wrong, which the Fi user employs to make decisions.
        Introverted feeling searches for the deeper meaning behind absolutely
        everything. Introverted feelers are highly aware of and in touch with
        their own emotions, and when they put themselves in the shoes of others,
        they can often feel their pain or joy on a personal level.
      </p>
      <p>
        EXTROVERTED THINKING seeks to impose order on the external environment
        as efficiently and logically as possible. It values productivity above
        all else and is a results-based, action-oriented function. Extroverted
        thinking naturally implements concrete plans for accomplishing goals and
        is quick to make decisions.
      </p>
    </div>
  </div>
</div>
